* {
  margin: 0;
  padding: 0;
}

.card {
  width: 336px;
  height: 435px;
  border: solid 1px black;
  border-radius: 10px;
  display: inline-block;
  margin-top: 190px;
  margin-left: 66px;
}
.popular {
  float: right;
  background-color: blue;
  height: 20px;
  padding: 1px 8px;
  font-size: 17px;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.header {
  margin-top: 29px;
  border-bottom: 1px grey solid;
  padding-bottom: 10px;
  padding-left: 15px;
}
.header h1 {
  font-size: 50px;
}

.main {
  padding: 39px 0 40px 30px;
  line-height: 31px;
  font-size: 20px;
}

.button {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(33, 33, 70, 1) 73%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 32px;
  color: white;
  margin-top: 11px;
  margin-left: 16px;
  margin-right: 16px;
  padding-top: 14px;
  padding-left: 28px;
  border-radius: 19px;
}

.footer {
  margin-left: 24px;
  margin-right: 10px;
  margin-top: 10px;
}

.container {
  width: 1916px;
  height: 500px;
  padding-left: 69px;
}

.naslov {
  font-size: 40px;
  text-align: center;
  margin-top: 100px;
  margin-left: -61px;
}
